In [2]:
import math
import numpy as np

###### PI value
DPI = 3.141592653589793

### Right ascension 
Right ascension are generally expressed in hours, minutes and seconds of time. If the trigonometric function of a right ascension must be calculated, it is necessary to convert that value to degrees (and then to radians if necessary). Remember that one hour corresponds to 15 degrees.

Example 1.a - Calculate tan(α), where α = $9^{h}14^{m}55^{s}.8$

In [21]:
def parse_ra_string(ra_string):
    """
    Parse right ascension string into component values.
    
    Takes a right ascension string in format "HH MM SS.SS" and extracts
    the hours, minutes, and seconds as separate float values.
    
    Args:
        ra_string (str): Right ascension in format "HH MM SS.SS"
                        (e.g., "14 23 45.67")
    
    Returns:
        tuple: A tuple of three floats (hours, minutes, seconds)
               e.g., (14.0, 23.0, 45.67)
    
    Example:
        >>> parse_ra_string("14 23 45.67")
        (14.0, 23.0, 45.67)
    """

    try:
        parts = ra_string.strip().split()
        if len(parts) != 3:
            raise ValueError("RA string must be in the format 'HH MM SS.SS'")
        
        ra_hours = float(parts[0])
        ra_minutes = float(parts[1])
        ra_seconds = float(parts[2])
        
        return (ra_hours, ra_minutes, ra_seconds)
    
    except ValueError as e:
        print(f"Error parsing RA string: {e}")
        return None
    

def convert_ra_components(hours, minutes, seconds):
    """
    Convert right ascension components to decimal, degrees, and radians.
    
    Takes individual hours, minutes, and seconds components of right ascension
    and converts them to decimal hours, decimal degrees, and radians.
    
    Args:
        hours (float): Hours component of right ascension
        minutes (float): Minutes component of right ascension  
        seconds (float): Seconds component of right ascension
    
    Returns:
        tuple: A tuple of three floats:
               - decimal_hours (float): RA in decimal hours
               - degrees (float): RA in decimal degrees
               - radians (float): RA in radians
    
    Example:
        >>> convert_ra_components(14.0, 23.0, 45.67)
        14.396019444444445, 215.9402916666667, 3.768...
    
    Note:
        Right ascension ranges from 0-24 hours, 0-360 degrees, or 0-2π radians.
    """
    ra_decimal_hours = hours + minutes/60 + seconds/3600 
    degrees = ra_decimal_hours * 15
    radians = degrees * (DPI/180)    

    return (ra_decimal_hours, degrees, radians)

In [18]:
ra_string = "09 14 55.8"
ra_hours, ra_minutes, ra_seconds = parse_ra_string(ra_string)

In [19]:
ra_decimal_hours, ra_decimal_degrees, ra_radians = convert_ra_components(ra_hours, ra_minutes, ra_seconds)
ra_radians

2.421338904523033

In [8]:

ra_string = "09 14 55.8"

ra_hours, ra_minutes, ra_seconds = parse_ra_string(ra_string)

ra_decimal_hours, ra_decimal_degrees, ra_radians = convert_ra_components(ra_hours, ra_minutes, ra_seconds)

print(ra_decimal_hours, ra_decimal_degrees, ra_radians)

9.248833333333332 138.7325 2.421338904523033

In [20]:
tan_ra = math.tan(ra_radians)

print(f'tan(\u03B1) = {tan_ra:.6f}')

tan(α) = -0.877517

In [ ]:
def parse_ra(ra_string):
    """
    Parses a right ascension string in the format 'HH MM SS.SS'
    and returns hours, minutes, and seconds as floats.
    """
    try:
        parts = ra_string.strip().split()
        if len(parts) != 3:
            raise ValueError("RA string must be in the format 'HH MM SS.SS'")
        
        ra_hours = float(parts[0])
        ra_minutes = float(parts[1])
        ra_seconds = float(parts[2])
        
        return ra_hours, ra_minutes, ra_seconds
    
    except ValueError as e:
        print(f"Error parsing RA string: {e}")
        return None
    
ra_str = "09 14 55.8"

ra_hours, ra_minutes, ra_seconds = parse_ra(ra_str)

ra_hours_decimals = ra_hours + ra_minutes/60 + ra_seconds/3600 
ra_degrees = ra_hours_decimals * 15
ra_radians = ra_degrees * (DPI/180)    
tan_ra = math.tan(ra_radians)

print(f'tan(\u03B1) = {tan_ra:.6f}')

tan(α) = -0.877517

Table 3.2
|  |  |  |
| :------- | :------: | -------: |
| November  | 7  | $y_{1}$ = 0.884226  |
|   | 8  | $y_{2}$ = 0.877366  |
|   | 9  | $y_{3}$ = 0.870531  |


Let $n$ be the interpolating factor. That is, if the value $y$ of the function is required for the value of $x$ of the argument, we have $x - x_{2}$ in units of the tabular interval. The value $n$ is positive if $x > x_{2}$, that is for a value 'later' than $x_{2}$, or from $x_{2}$ towards the bottom of the table. If $x$ precedes $x_{2}$, then $n < 0$. 

If $y_{2}$ has been correctly chosen, then $n$ will be between -0.5 and +0.5, although the following formulae will also give correct results for all values of $n$ between -1 and +1.

The interpolation formula is

$
 y = y_{2} + \frac{n}{2} (a + b + nc)
$


Example 3.a - From the table 3.2, calculate the distance of Mars to the Earth on 1992 November 8, at  $4^{h}21^{m}$ TD.

In [3]:
y1 = 0.884226
y2 = 0.877366
y3 = 0.870531

a = y2 - y1 
b = y3 - y2

c = b - a 


print(a)
print(b)
print(c)

n = (4 + 21/60)/24

y = y2 + (n/2) * (a + b + n*c) 
y

-0.006859999999999977
-0.0068349999999999245
2.5000000000052758e-05

0.8761253012695313

Example 9.a - New Moon took place on 1977 February 18 at $3^{h}37^{m}40^{s}$ Dynamical time (see Exaple 47.a). 
At that instant, $\Delta T$ was equal to +48 seconds. Consequently, the corresponding Universal Time of that lunar phase was:

In [13]:
def parse_time_string(time_string):
    """
    Parses a time string in the format 'HH MM SS.SS'
    and returns hours, minutes, and seconds as floats.
    """
    try:
        parts = time_string.strip().split()
        if len(parts) != 3:
            raise ValueError("time string must be in the format 'HH MM SS.SS'")
        
        time_hours = float(parts[0])
        time_minutes = float(parts[1])
        time_seconds = float(parts[2])
        
        return time_hours, time_minutes, time_seconds
    
    except ValueError as e:
        print(f"Error parsing time string: {e}")
        return None
    

time_hours, time_minutes, time_seconds = parse_time_string("3 37 40.00")


def convert_time_to_decimal(hours, minutes, seconds):
    """
    Convert time components to decimal hours.
    
    Takes individual hours, minutes, and seconds components of time
    and converts them to decimal hours format.
    
    Args:
        hours (float): Hours component of time
        minutes (float): Minutes component of time
        seconds (float): Seconds component of time
    
    Returns:
        float: Time expressed in decimal hours
               e.g., 3 hours 37 minutes 40 seconds = 3.627777... hours
    
    Example:
        >>> convert_time_to_decimal(3.0, 37.0, 40.0)
        3.6277777777777778
    
    Formula:
        decimal_hours = hours + (minutes/60) + (seconds/3600)
    """
    decimal_hours = hours + (minutes / 60.0) + (seconds / 3600.0)
    
    return decimal_hours

#time_decimal = time_hours + time_minutes/60 + time_seconds/3600 


time_decimal = convert_time_to_decimal(time_hours, time_minutes, time_seconds)

#print(time_decimal)

# print(time_hours, time_minutes, time_seconds)
# print(time_decimal)

Delta_time = 48/3600

universal_time = time_decimal - Delta_time

ut_hours = int(universal_time)
ut_minutes = (universal_time - ut_hours) * 60 
ut_seconds = int((ut_minutes - int(ut_minutes)) * 60)

print(ut_hours,int(ut_minutes),ut_seconds)

3 36 52

In [14]:
def decimal_to_time_string(decimal_hours):
    """
    Convert decimal hours to time string format.
    
    Takes a decimal hours value and converts it back to the standard
    time string format "HH MM SS.SS".
    
    Args:
        decimal_hours (float): Time expressed in decimal hours
                              e.g., 3.6277777777777778
    
    Returns:
        str: Time string in format "HH MM SS.SS"
             e.g., "03 37 40.00"
    
    Example:
        >>> decimal_to_time_string(3.6277777777777778)
        "03 37 40.00"
    
    Note:
        Hours are zero-padded to 2 digits, seconds are formatted to 2 decimal places.
    """
    hours = int(decimal_hours)
    remaining_minutes = (decimal_hours - hours) * 60
    minutes = int(remaining_minutes)
    seconds = (remaining_minutes - minutes) * 60
    
    return f"{hours:02d} {minutes:02d} {seconds:05.2f}"


time_string = decimal_to_time_string(universal_time)
print(time_string)

03 36 52.00

In [28]:
import string

superscript_map = {
    "0": "⁰", "1": "¹", "2": "²", "3": "³", "4": "⁴", "5": "⁵", "6": "⁶",
    "7": "⁷", "8": "⁸", "9": "⁹", "a": "ᵃ", "b": "ᵇ", "c": "ᶜ", "d": "ᵈ",
    "e": "ᵉ", "f": "ᶠ", "g": "ᵍ", "h": "ʰ", "i": "ᶦ", "j": "ʲ", "k": "ᵏ",
    "l": "ˡ", "m": "ᵐ", "n": "ⁿ", "o": "ᵒ", "p": "ᵖ", "q": "۹", "r": "ʳ",
    "s": "ˢ", "t": "ᵗ", "u": "ᵘ", "v": "ᵛ", "w": "ʷ", "x": "ˣ", "y": "ʸ",
    "z": "ᶻ", "A": "ᴬ", "B": "ᴮ", "C": "ᶜ", "D": "ᴰ", "E": "ᴱ", "F": "ᶠ",
    "G": "ᴳ", "H": "ᴴ", "I": "ᴵ", "J": "ᴶ", "K": "ᴷ", "L": "ᴸ", "M": "ᴹ",
    "N": "ᴺ", "O": "ᴼ", "P": "ᴾ", "Q": "Q", "R": "ᴿ", "S": "ˢ", "T": "ᵀ",
    "U": "ᵁ", "V": "ⱽ", "W": "ᵂ", "X": "ˣ", "Y": "ʸ", "Z": "ᶻ", "+": "⁺",
    "-": "⁻", "=": "⁼", "(": "⁽", ")": "⁾"}

trans = str.maketrans(
    ''.join(superscript_map.keys()),
    ''.join(superscript_map.values()))

str(ut_hours) + 'h'.translate(trans) + str(int(ut_minutes)) + 'm'.translate(trans) + str(ut_seconds) + 's'.translate(trans)

'3ʰ36ᵐ52ˢ'

In [24]:
from sympy import pi, sin, tan

# >>> sin(pi/2)
# 1

# >>> sin(pi/4)
# sqrt(2)/2

# >>> sin(pi/4).evalf()
# 0.707106781186548



print(f'tan(\u03B1) = {tan(ra_radians).evalf():.9f}')

tan(α) = -0.877516945

Example 10.a Calculate the p sin theta and p cos theta for the Palomar observatory, for which 
theta = +33