In [2]:
import math
import numpy as np

### Right ascension 
Right ascension are generally expressed in hours, minutes and seconds of time ... remember that one hour corresponds to 15 degrees.

Example 1.a - Calculate tan(α), where α = $9^{h}14^{m}55^{s}.8$

In [25]:
ra_hours = 9
ra_minutes = 14
ra_seconds = 55.8

### PI value
DPI = 3.141592653589793

ra_hours_decimals = ra_hours + ra_minutes/60 + ra_seconds/3600 
ra_degrees = ra_hours_decimals * 15
ra_radians = ra_degrees * (DPI/180)    

tan_ra = math.tan(ra_radians)

print(f'tan(\u03B1) = {tan_ra:.6f}')

tan(α) = -0.877517

Table 3.2
|  |  |  |
| :------- | :------: | -------: |
| November  | 7  | $y_{1}$ = 0.884226  |
|   | 8  | $y_{2}$ = 0.877366  |
|   | 9  | $y_{3}$ = 0.870531  |


Let $n$ be the interpolating factor. That is, if the value $y$ of the function is required for the value of $x$ of the argument, we have $x - x_{2}$ in units of the tabular interval. The value $n$ is positive if $x > x_{2}$, that is for a value 'later' than $x_{2}$, or from $x_{2}$ towards the bottom of the table. If $x$ precedes $x_{2}$, then $n < 0$. 

If $y_{2}$ has been correctly chosen, then $n$ will be between -0.5 and +0.5, although the following formulae will also give correct results for all values of $n$ between -1 and +1.

The interpolation formula is

$
 y = y_{2} + \frac{n}{2} (a + b + nc)
$


Example 3.a - From the table 3.2, calculate the distance of Mars to the Earth on 1992 November 8, at  $4^{h}21^{m}$ TD.

In [3]:
y1 = 0.884226
y2 = 0.877366
y3 = 0.870531

a = y2 - y1 
b = y3 - y2

c = b - a 


print(a)
print(b)
print(c)

n = (4 + 21/60)/24

y = y2 + (n/2) * (a + b + n*c) 
y

-0.006859999999999977
-0.0068349999999999245
2.5000000000052758e-05

0.8761253012695313

In [24]:
from sympy import pi, sin, tan

# >>> sin(pi/2)
# 1

# >>> sin(pi/4)
# sqrt(2)/2

# >>> sin(pi/4).evalf()
# 0.707106781186548



print(f'tan(\u03B1) = {tan(ra_radians).evalf():.9f}')

tan(α) = -0.877516945

Example 10.a Calculate the p sin theta and p cos theta for the Palomar observatory, for which 
theta = +33