In [1]:
import math
import numpy as np
import pandas as pd

###### PI value
DPI = 3.141592653589793

### Right ascension 
Right ascension are generally expressed in hours, minutes and seconds of time. If the trigonometric function of a right ascension must be calculated, it is necessary to convert that value to degrees (and then to radians if necessary). Remember that one hour corresponds to 15 degrees.

Example 1.a - Calculate tan(α), where α = $9^{h}14^{m}55^{s}.8$

In [2]:
def parse_ra_string(ra_string):
    """
    Parse right ascension string into component values.
    
    Takes a right ascension string in format "HH MM SS.SS" and extracts
    the hours, minutes, and seconds as separate float values.
    
    Args:
        ra_string (str): Right ascension in format "HH MM SS.SS"
                        (e.g., "14 23 45.67")
    
    Returns:
        tuple: A tuple of three floats (hours, minutes, seconds)
               e.g., (14.0, 23.0, 45.67)
    
    Example:
        >>> parse_ra_string("14 23 45.67")
        (14.0, 23.0, 45.67)
    """

    try:
        parts = ra_string.strip().split()
        if len(parts) != 3:
            raise ValueError("RA string must be in the format 'HH MM SS.SS'")
        
        ra_hours = float(parts[0])
        ra_minutes = float(parts[1])
        ra_seconds = float(parts[2])
        
        return (ra_hours, ra_minutes, ra_seconds)
    
    except ValueError as e:
        print(f"Error parsing RA string: {e}")
        return None
    

def convert_ra_components(hours, minutes, seconds):
    """
    Convert right ascension components to decimal, degrees, and radians.
    
    Takes individual hours, minutes, and seconds components of right ascension
    and converts them to decimal hours, decimal degrees, and radians.
    
    Args:
        hours (float): Hours component of right ascension
        minutes (float): Minutes component of right ascension  
        seconds (float): Seconds component of right ascension
    
    Returns:
        tuple: A tuple of three floats:
               - decimal_hours (float): RA in decimal hours
               - degrees (float): RA in decimal degrees
               - radians (float): RA in radians
    
    Example:
        >>> convert_ra_components(14.0, 23.0, 45.67)
        14.396019444444445, 215.9402916666667, 3.768...
    
    Note:
        Right ascension ranges from 0-24 hours, 0-360 degrees, or 0-2π radians.
    """
    ra_decimal_hours = hours + minutes/60 + seconds/3600 
    degrees = ra_decimal_hours * 15
    radians = degrees * (DPI/180)    

    return (ra_decimal_hours, degrees, radians)

In [3]:
ra_string = "09 14 55.8"
ra_hours, ra_minutes, ra_seconds = parse_ra_string(ra_string)

In [4]:
ra_decimal_hours, ra_decimal_degrees, ra_radians = convert_ra_components(ra_hours, ra_minutes, ra_seconds)
ra_radians

2.421338904523033

In [ ]:

ra_string = "09 14 55.8"

ra_hours, ra_minutes, ra_seconds = parse_ra_string(ra_string)

ra_decimal_hours, ra_decimal_degrees, ra_radians = convert_ra_components(ra_hours, ra_minutes, ra_seconds)

print(ra_decimal_hours, ra_decimal_degrees, ra_radians)

9.248833333333332 138.7325 2.421338904523033

In [ ]:
tan_ra = math.tan(ra_radians)

print(f'tan(\u03B1) = {tan_ra:.6f}')

tan(α) = -0.877517

In [ ]:
def parse_ra(ra_string):
    """
    Parses a right ascension string in the format 'HH MM SS.SS'
    and returns hours, minutes, and seconds as floats.
    """
    try:
        parts = ra_string.strip().split()
        if len(parts) != 3:
            raise ValueError("RA string must be in the format 'HH MM SS.SS'")
        
        ra_hours = float(parts[0])
        ra_minutes = float(parts[1])
        ra_seconds = float(parts[2])
        
        return ra_hours, ra_minutes, ra_seconds
    
    except ValueError as e:
        print(f"Error parsing RA string: {e}")
        return None
    
ra_str = "09 14 55.8"

ra_hours, ra_minutes, ra_seconds = parse_ra(ra_str)

ra_hours_decimals = ra_hours + ra_minutes/60 + ra_seconds/3600 
ra_degrees = ra_hours_decimals * 15
ra_radians = ra_degrees * (DPI/180)    
tan_ra = math.tan(ra_radians)

print(f'tan(\u03B1) = {tan_ra:.6f}')

tan(α) = -0.877517

Table 3.2
|  |  |  |
| :------- | :------: | -------: |
| November  | 7  | $y_{1}$ = 0.884226  |
|   | 8  | $y_{2}$ = 0.877366  |
|   | 9  | $y_{3}$ = 0.870531  |


Let $n$ be the interpolating factor. That is, if the value $y$ of the function is required for the value of $x$ of the argument, we have $x - x_{2}$ in units of the tabular interval. The value $n$ is positive if $x > x_{2}$, that is for a value 'later' than $x_{2}$, or from $x_{2}$ towards the bottom of the table. If $x$ precedes $x_{2}$, then $n < 0$. 

If $y_{2}$ has been correctly chosen, then $n$ will be between -0.5 and +0.5, although the following formulae will also give correct results for all values of $n$ between -1 and +1.

The interpolation formula is

$
 y = y_{2} + \frac{n}{2} (a + b + nc)
$


Example 3.a - From the table 3.2, calculate the distance of Mars to the Earth on 1992 November 8, at  $4^{h}21^{m}$ TD.

In [ ]:
y1 = 0.884226
y2 = 0.877366
y3 = 0.870531

a = y2 - y1 
b = y3 - y2

c = b - a 


print(a)
print(b)
print(c)

n = (4 + 21/60)/24

y = y2 + (n/2) * (a + b + n*c) 
y

-0.006859999999999977
-0.0068349999999999245
2.5000000000052758e-05

0.8761253012695313

Example 9.a - New Moon took place on 1977 February 18 at $3^{h}37^{m}40^{s}$ Dynamical time (see Exaple 47.a). 
At that instant, $\Delta T$ was equal to +48 seconds. Consequently, the corresponding Universal Time of that lunar phase was:

In [ ]:
def parse_time_string(time_string):
    """
    Parses a time string in the format 'HH MM SS.SS'
    and returns hours, minutes, and seconds as floats.
    """
    try:
        parts = time_string.strip().split()
        if len(parts) != 3:
            raise ValueError("time string must be in the format 'HH MM SS.SS'")
        
        time_hours = float(parts[0])
        time_minutes = float(parts[1])
        time_seconds = float(parts[2])
        
        return time_hours, time_minutes, time_seconds
    
    except ValueError as e:
        print(f"Error parsing time string: {e}")
        return None
    

time_hours, time_minutes, time_seconds = parse_time_string("3 37 40.00")


def convert_time_to_decimal(hours, minutes, seconds):
    """
    Convert time components to decimal hours.
    
    Takes individual hours, minutes, and seconds components of time
    and converts them to decimal hours format.
    
    Args:
        hours (float): Hours component of time
        minutes (float): Minutes component of time
        seconds (float): Seconds component of time
    
    Returns:
        float: Time expressed in decimal hours
               e.g., 3 hours 37 minutes 40 seconds = 3.627777... hours
    
    Example:
        >>> convert_time_to_decimal(3.0, 37.0, 40.0)
        3.6277777777777778
    
    Formula:
        decimal_hours = hours + (minutes/60) + (seconds/3600)
    """
    decimal_hours = hours + (minutes / 60.0) + (seconds / 3600.0)
    
    return decimal_hours

#time_decimal = time_hours + time_minutes/60 + time_seconds/3600 


time_decimal = convert_time_to_decimal(time_hours, time_minutes, time_seconds)

#print(time_decimal)

# print(time_hours, time_minutes, time_seconds)
# print(time_decimal)

Delta_time = 48/3600

universal_time = time_decimal - Delta_time

ut_hours = int(universal_time)
ut_minutes = (universal_time - ut_hours) * 60 
ut_seconds = int((ut_minutes - int(ut_minutes)) * 60)

print(ut_hours,int(ut_minutes),ut_seconds)

3 36 52

In [ ]:
def decimal_to_time_string(decimal_hours):
    """
    Convert decimal hours to time string format.
    
    Takes a decimal hours value and converts it back to the standard
    time string format "HH MM SS.SS".
    
    Args:
        decimal_hours (float): Time expressed in decimal hours
                              e.g., 3.6277777777777778
    
    Returns:
        str: Time string in format "HH MM SS.SS"
             e.g., "03 37 40.00"
    
    Example:
        >>> decimal_to_time_string(3.6277777777777778)
        "03 37 40.00"
    
    Note:
        Hours are zero-padded to 2 digits, seconds are formatted to 2 decimal places.
    """
    hours = int(decimal_hours)
    remaining_minutes = (decimal_hours - hours) * 60
    minutes = int(remaining_minutes)
    seconds = (remaining_minutes - minutes) * 60
    
    return f"{hours:02d} {minutes:02d} {seconds:05.2f}"


time_string = decimal_to_time_string(universal_time)
print(time_string)

03 36 52.00

In [ ]:
import string

superscript_map = {
    "0": "⁰", "1": "¹", "2": "²", "3": "³", "4": "⁴", "5": "⁵", "6": "⁶",
    "7": "⁷", "8": "⁸", "9": "⁹", "a": "ᵃ", "b": "ᵇ", "c": "ᶜ", "d": "ᵈ",
    "e": "ᵉ", "f": "ᶠ", "g": "ᵍ", "h": "ʰ", "i": "ᶦ", "j": "ʲ", "k": "ᵏ",
    "l": "ˡ", "m": "ᵐ", "n": "ⁿ", "o": "ᵒ", "p": "ᵖ", "q": "۹", "r": "ʳ",
    "s": "ˢ", "t": "ᵗ", "u": "ᵘ", "v": "ᵛ", "w": "ʷ", "x": "ˣ", "y": "ʸ",
    "z": "ᶻ", "A": "ᴬ", "B": "ᴮ", "C": "ᶜ", "D": "ᴰ", "E": "ᴱ", "F": "ᶠ",
    "G": "ᴳ", "H": "ᴴ", "I": "ᴵ", "J": "ᴶ", "K": "ᴷ", "L": "ᴸ", "M": "ᴹ",
    "N": "ᴺ", "O": "ᴼ", "P": "ᴾ", "Q": "Q", "R": "ᴿ", "S": "ˢ", "T": "ᵀ",
    "U": "ᵁ", "V": "ⱽ", "W": "ᵂ", "X": "ˣ", "Y": "ʸ", "Z": "ᶻ", "+": "⁺",
    "-": "⁻", "=": "⁼", "(": "⁽", ")": "⁾"}

trans = str.maketrans(
    ''.join(superscript_map.keys()),
    ''.join(superscript_map.values()))

str(ut_hours) + 'h'.translate(trans) + str(int(ut_minutes)) + 'm'.translate(trans) + str(ut_seconds) + 's'.translate(trans)

'3ʰ36ᵐ52ˢ'

In [ ]:
from sympy import pi, sin, tan

# >>> sin(pi/2)
# 1

# >>> sin(pi/4)
# sqrt(2)/2

# >>> sin(pi/4).evalf()
# 0.707106781186548



print(f'tan(\u03B1) = {tan(ra_radians).evalf():.9f}')

tan(α) = -0.877516945

Example 10.a Calculate the p sin theta and p cos theta for the Palomar observatory, for which 
theta = +33

In [ ]:
table_15_14 = [['Julian',4716,1401,2,12,4,1461,0,3,5,153,2,2],
               ['Gregorian',4716,1401,2,12,4,1461,0,3,5,153,2,2,184,274277,-38]]
df_calendar = pd.DataFrame(table_15_14,columns=['Calendar','y','j','m','n','r','p','q','v','u','s','t','w','A','B','C'])
df_calendar.set_index('Calendar',inplace=True)

In [ ]:
### YYYY-MM-DD 1582 October 15
Y = 2000
M = 1
D = 1

In [ ]:
Y = 2000
M = 1
D = 1

if M <= 2:
    Y_adj = Y - 1
    M_adj = M + 12
else:
    Y_adj = Y
    M_adj = M

# 1. h = M − m
h = M - df_calendar.m.Julian
# 2. g = Y + y − (n − h)/n
g = Y + df_calendar.y.Julian - int((df_calendar.n.Julian - h)/df_calendar.n.Julian)
# 3. f = mod(h − 1 + n, n)
f = (h - 1 + df_calendar.n.Julian) % df_calendar.n.Julian
# 4. e = (p ∗ g + q)/r + D − 1 − j
e = int((df_calendar.p.Julian * g + df_calendar.q.Julian)/df_calendar.r.Julian) + D - 1 - df_calendar.j.Julian
# 5. J = e + (s ∗ f + t)/u
J = e + int((df_calendar.s.Julian * f + df_calendar.t.Julian)/df_calendar.u.Julian)

J

2451558

In [ ]:
# Test date: October 15, 1582 (Gregorian)
Y = 1582  # Year
M = 10    # Month (October)
D = 15    # Day

print(f"Converting Gregorian date: {M}/{D}/{Y}")
print()

# Standard Julian Day Number algorithm for Gregorian calendar
def julian_day_number_standard(year, month, day):
    """Standard Julian Day Number calculation"""
    if month <= 2:
        year -= 1
        month += 12
    
    # Gregorian calendar correction
    A = year // 100
    B = 2 - A + (A // 4)
    
    jdn = int(365.25 * (year + 4716)) + int(30.6001 * (month + 1)) + day + B - 1524
    return jdn

# Your algorithm approach (corrected)
def julian_day_your_algorithm(Y, M, D, calendar_type='Gregorian'):
    """Your algorithm approach but corrected"""
    cal = df_calendar.loc[calendar_type]
    
    # Step 1: Adjust year and month if month <= 2
    if M <= 2:
        Y_adj = Y - 1
        M_adj = M + 12
    else:
        Y_adj = Y
        M_adj = M
    
    print(f"Adjusted Y={Y_adj}, M={M_adj}, D={D}")
    
    # Step 2: Calculate components
    h = M_adj - cal['m']  # m=12 for Gregorian
    print(f"h = {M_adj} - {cal['m']} = {h}")
    
    g = Y_adj + cal['j'] + (cal['n'] - h) / cal['n']  # Using integer division
    print(f"g = {Y_adj} + {cal['j']} + ({cal['n']} - {h}) // {cal['n']} = {g}")
    
    f = (h - 1 + cal['n']) % cal['n']
    print(f"f = ({h} - 1 + {cal['n']}) % {cal['n']} = {f}")
    
    e = (cal['p'] * g + cal['q']) // cal['r'] + D - 1 - cal['j']
    print(f"e = ({cal['p']} * {g} + {cal['q']}) // {cal['r']} + {D} - 1 - {cal['j']} = {e}")
    
    J = e + (cal['s'] * f + cal['t']) // cal['u']
    print(f"J = {e} + ({cal['s']} * {f} + {cal['t']}) // {cal['u']} = {J}")
    
    return J


julian_day_your_algorithm(Y, M, D, calendar_type='Gregorian')   JD = 2299160.5

Converting Gregorian date: 10/15/1582

Adjusted Y=1582, M=10, D=15
h = 10 - 2.0 = 8.0
g = 1582 + 1401.0 + (12.0 - 8.0) // 12.0 = 2983.0
f = (8.0 - 1 + 12.0) % 12.0 = 7.0
e = (1461.0 * 2983.0 + 0.0) // 4.0 + 15 - 1 - 1401.0 = 1088153.0
J = 1088153.0 + (153.0 * 7.0 + 2.0) // 5.0 = 1088367.0

1088367.0

In [ ]:
Y = 1987  # Year
M = 6    # Month (October)
D = 19    # Day

JD = 367 * Y - int((7 * int(Y + ((M + 9) / 12))) / 4) + int((275 * M) / 9) + D + 1721013.5

JD

2446965.5

In [ ]:
# Let Y == Year
# Let M == Month Number // 1 is Jan, 2 is Feb, etc.
# Let D == Day Number // where D is double (64-bit floating-point value)
# If M == 1 OR M == 2 Then:
    
#     Y == Y - 1
#     M == M + 12
# // That is if the date is Jan or Feb then the date is the 13th or
# // 14th month of the preceding year for calculation purposes.
# If the date is on the Gregorian calendar (after 14 Oct 1582) then:
# Let A = (int)(Y / 100)
# Let B = 2 - A + (int)(A / 4)
# If the date is on the Julian calendar (prior to 4 Oct 1582) then:
# Let B = 0

In [5]:
import math

def calculate_julian_day(Y: int, M: int, D: float) -> float:
    """
    Calculates the Julian Day (JD) for a given calendar date, 
    valid for positive and negative years (but not negative JD).
    
    Args:
        Y (int): Year.
        M (int): Month number (1=Jan, 12=Dec).
        D (float): Day of the month (with decimals for time).
        
    Returns:
        float: The calculated Julian Day.
    """
    
    # 1. Adjust Y and M for January and February
    # (M=1 or M=2 become month 13 or 14 of the preceding year)
    if M <= 2:
        Y = Y - 1
        M = M + 12
    
    # 2. Determine the value of B based on the calendar
    
    # The transition from Julian to Gregorian occurred after 4 Oct 1582.
    # The day after 4 Oct 1582 was 15 Oct 1582 (10 days were skipped).
    # We must check the date against the transition point: Y=1582, M=10, D>=15.
    
    # Check for the Gregorian calendar (after 14 Oct 1582)
    # The condition is: Y > 1582, OR (Y == 1582 AND M > 10), OR (Y == 1582 AND M == 10 AND D >= 15).

    # A more direct date comparison:
    # Gregorian starts on 15 October 1582.
    is_gregorian = False
    if Y > 1582:
        is_gregorian = True
    elif Y == 1582:
        if M > 10:
            is_gregorian = True
        elif M == 10 and D >= 15:
            is_gregorian = True
            
    # Calculate B
    if is_gregorian:
        # Gregorian Calendar calculation (after 14 Oct 1582)
        A = math.floor(Y / 100)
        B = 2 - A + math.floor(A / 4)
    else:
        # Julian Calendar calculation (prior to 15 Oct 1582)
        B = 0
        
    # 3. Calculate the Julian Day (JD)
    
    # Formula (7.1):
    # JD = INT(365.25(Y + 4716)) + INT(30.6001(M + 1)) + D + B - 1524.5
    
    term1 = math.floor(365.25 * (Y + 4716))
    term2 = math.floor(30.6001 * (M + 1))
    
    JD = term1 + term2 + D + B - 1524.5
    
    return JD

# --- Examples ---
print("--- Test Cases ---")

# Gregorian Date: 1 January 2000, 12:00:00 (Noon)
# Expected JD: 2451545.0
Y_test1, M_test1, D_test1 = 2000, 1, 1.5 
# M=1 -> Y=1999, M=13
# is_gregorian=True -> A=19, B=2-19+4 = -13
jd1 = calculate_julian_day(Y_test1, M_test1, D_test1)
print(f"1 Jan 2000 12:00:00 -> JD: {jd1}")

# Gregorian Date: 15 October 1582, 00:00:00 (First day of Gregorian)
# Expected JD: 2299160.5
Y_test2, M_test2, D_test2 = 1582, 10, 15.0 
# M=10 -> No change (Y=1582, M=10)
# is_gregorian=True -> A=15, B=2-15+3 = -10
jd2 = calculate_julian_day(Y_test2, M_test2, D_test2)
print(f"15 Oct 1582 00:00:00 -> JD: {jd2}")

# Julian Date: 4 October 1582, 00:00:00 (Last day of Julian)
# Expected JD: 2299150.5
Y_test3, M_test3, D_test3 = 1582, 10, 4.0 
# M=10 -> No change (Y=1582, M=10)
# is_gregorian=False -> B=0
jd3 = calculate_julian_day(Y_test3, M_test3, D_test3)
print(f"4 Oct 1582 00:00:00 -> JD: {jd3}")

--- Test Cases ---
1 Jan 2000 12:00:00 -> JD: 2451545.0
15 Oct 1582 00:00:00 -> JD: 2299160.5
4 Oct 1582 00:00:00 -> JD: 2299159.5

In [19]:
# Gregorian Date: 1 January 2000, 12:00:00 (Noon)
# Expected JD: 2451545.0
Y_test1, M_test1, D_test1 = -4712, 1, 1.5
# M=1 -> Y=1999, M=13
# is_gregorian=True -> A=19, B=2-19+4 = -13
jd1 = calculate_julian_day(Y_test1, M_test1, D_test1)
print(f"1 Jan 2000 12:00:00 -> JD: {jd1}")

1 Jan 2000 12:00:00 -> JD: 0.0

In [22]:
import datetime

def parse_date_to_YMD_flexible(date_string: str) -> tuple[int, int, float]:
    """
    Parses a date string in "YYYY-MM-DD HH:MM" or "YYYY-MM-DD HH:MM:SS.SS" format 
    and returns (Y, M, D) where D includes the time as a decimal fraction of the day.
    
    Args:
        date_string (str): The date and time string.
        
    Returns:
        tuple[int, int, float]: (Year, Month, Day with decimal time).
    """
    
    # 1. Split the date and time parts
    try:
        date_part, time_part = date_string.split(' ')
    except ValueError:
        raise ValueError(f"Invalid format. Must contain a space between date and time: {date_string}")
    
    # 2. Extract Y, M, and the base day
    try:
        Y, M, day = map(int, date_part.split('-'))
    except ValueError:
        raise ValueError(f"Invalid date format: {date_part}. Expected YYYY-MM-DD.")
    
    # 3. Parse the time part and calculate total seconds
    
    # Split HH:MM[:SS.SS]
    time_components = time_part.split(':')
    H = int(time_components[0])
    Min = int(time_components[1]) # Minutes must be an integer part
    
    total_seconds = float(H * 3600) + float(Min * 60)
    
    if len(time_components) == 3:
        # Format is HH:MM:SS.SS
        # The last component can be a float (e.g., 55.45)
        Sec_decimal = float(time_components[2])
        total_seconds += Sec_decimal
        
    elif len(time_components) != 2:
        # Neither HH:MM nor HH:MM:SS.SS
        raise ValueError(f"Invalid time format: {time_part}. Expected HH:MM or HH:MM:SS.SS.")

    # 4. Calculate the fraction of the day
    seconds_in_day = 86400.0 # 24 * 60 * 60
    decimal_fraction_of_day = total_seconds / seconds_in_day
    
    # 5. Combine base day and decimal fraction
    D = float(day) + decimal_fraction_of_day
    
    return (Y, M, D)

# ----------------- Examples -----------------
print("--- Testing Flexible Parser ---")

# Format 1: HH:MM (Noon on 2000-01-01)
date_str_1 = "2000-01-01 12:00"
Y1, M1, D1 = parse_date_to_YMD_flexible(date_str_1)
print(f"Input: '{date_str_1}' -> D: {D1}") # Expected: 1.5

# Format 2: HH:MM:SS.SS (A specific time with decimal seconds)
date_str_2 = "2024-03-10 01:30:45.75" # 1h 30m 45.75s
Y2, M2, D2 = parse_date_to_YMD_flexible(date_str_2)
print(f"Input: '{date_str_2}' -> D: {D2}") 
# Expected calculation: (3600 + 1800 + 45.75) / 86400 = 0.063261574...
# Expected Output: 10.063261574...

# Format 3: HH:MM:SS (Integer seconds)
date_str_3 = "1985-06-20 23:59:00"
Y3, M3, D3 = parse_date_to_YMD_flexible(date_str_3)
print(f"Input: '{date_str_3}' -> D: {D3}") 
# Expected calculation: (86340) / 86400 = 0.999305...
# Expected Output: 20.999305...

--- Testing Flexible Parser ---
Input: '2000-01-01 12:00' -> D: 1.5
Input: '2024-03-10 01:30:45.75' -> D: 10.063029513888889
Input: '1985-06-20 23:59:00' -> D: 20.999305555555555

In [31]:
# Format 1: HH:MM (Noon on 2000-01-01)
date_str_1 = "1987-04-10 19:21"
Y1, M1, D1 = parse_date_to_YMD_flexible(date_str_1)

# Gregorian Date: 1 January 2000, 12:00:00 (Noon)
# Expected JD: 2451545.0
# Y_test1, M_test1, D_test1 = -4712, 1, 1.5
# M=1 -> Y=1999, M=13
# is_gregorian=True -> A=19, B=2-19+4 = -13
jd1 = calculate_julian_day(Y1, M1, D1)
print(f"1 Jan 2000 12:00:00 -> JD: {jd1}")

1 Jan 2000 12:00:00 -> JD: 2446896.30625

In [32]:
JD = jd1

T = (JD - 2451545.0) / 36525  

GMST = 280.46061837 + 360.98564736629*(JD - 2451545.0) + (0.000387933*T**2) - ((T**3)/3871000)

GMST

-1677831.2621267552

In [33]:
import math

def degrees_to_hms(degrees: float) -> tuple[int, int, float]:
    """
    Converts a decimal degree value (like the result of equation 11.4) 
    into Hours, Minutes, and Seconds (H:M:S).
    
    Args:
        degrees (float): The angle in decimal degrees.
        
    Returns:
        tuple[int, int, float]: (Hours, Minutes, Seconds).
    """
    
    # 1. Normalize degrees to the range [0, 360)
    # The modulo operator (%) handles this, even for negative angles.
    degrees = degrees % 360.0
    
    if degrees < 0:
        degrees += 360.0
        
    # 2. Convert degrees to decimal hours by dividing by 15
    decimal_hours = degrees / 15.0
    
    # 3. Extract Hours
    Hours = math.floor(decimal_hours)
    
    # 4. Extract Minutes
    # Get the fractional part of hours and multiply by 60
    decimal_minutes = (decimal_hours - Hours) * 60.0
    Minutes = math.floor(decimal_minutes)
    
    # 5. Extract Seconds
    # Get the fractional part of minutes and multiply by 60
    Seconds = (decimal_minutes - Minutes) * 60.0
    
    # Ensure seconds is float for decimal precision
    return (int(Hours), int(Minutes), Seconds)

# --- Example ---

# Let's assume the result of your equation (11.4) calculation is this:
result_degrees = GMST  # An example value from external reference

Hours, Minutes, Seconds = degrees_to_hms(result_degrees)

print(f"Decimal Degrees: {result_degrees}")
print(f"Sidereal Time (H:M:S): {Hours}h {Minutes}m {Seconds:.4f}s")
# Expected Output: 11h 39m 5.0673s (or similar depending on precision)

Decimal Degrees: -1677831.2621267552
Sidereal Time (H:M:S): 8h 34m 57.0896s